.lecteur {
    display: flex;
    justify-content: center;
    max-width: 60%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative; 
  }

.lecteur video {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.chapitres {
  background-color: black;
  color: white;
  padding: 50px 10px;
}
  