.App {
  background-color: lightgray;
  color: black;
}

/* Ajoutez ces classes CSS pour définir la hauteur et le style de défilement des colonnes */
.sidebar {
  height: 80vh; /* 100% de la hauteur de la vue */
  overflow-y: auto; /* Défilement vertical si nécessaire */
}

/* Ajoutez ces classes CSS pour styliser la liste des chapitres et les mots clés */
.sidebar {

  padding: 50px 10px;
}


.motsCles {
  margin: 20px;
}