.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
  }
  
.keywords-container {
    margin-top: 20px; 
}

.keyword-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

.keyword-group h4 {
    margin-bottom: 10px; 
}